@font-face {
	font-family:"BigNoodleTitling";
	src: url("../fonts/big_noodle_titling.eot?") format("eot"),
		 url("../fonts/big_noodle_titling.woff") format("woff"),
		 url("../fonts/big_noodle_titling.ttf") format("truetype"),
		 url("../fonts/big_noodle_titling.svg#BigNoodleTitling") format("svg");
	font-weight:normal;
	font-style:normal;
}