body {
	background: #fff;
	color: #5A5A5A;
}

h1 {
	margin: 0;
	display: none;
}

.boardPanel h2 {
	color: #fff;
	font-family: Arial;
	margin: 0 10px;
	font-size: 16pt;
	font-weight: normal;
	line-height: 40px;
}

#panelUser h2 {
	margin: 0 10px;
	color: #fff;
	font-family: BigNoodleTitling;
	margin: 0 10px;
	font-size: 34pt;
	font-weight: normal;
}

h3 {
	color: #5a5a5a;
	font-family: Arial;
	font-weight: bold;
	margin: 0 0 10px;
	font-size: 1.3em;
}

.blue {
	color: #3299BB !important;
}

.white {
	color: #fff !important;
}

.gray {
	color: #5A5A5A !important;
}

.red {
	color: red !important;
}

.green {
	color: green !important;
}

img {
	max-width: 100%;
}

a:visited, a{
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.invisible {
	display: none;
}

/* DASHBOARD */

.boardPanel > header {
	background: #3299BB;
	height: 40px;
	margin: 0;
}

.boardPanel , .userPanel {
	background: #eeeeee;
	padding: 0;
	margin: 10px 0;
}

#panelUser {
	background: #3299BB !important;
}

/* ANNOUNCEMENTS */

#panelAnnouncements article {
	padding: 15px 10px;
	font-family: Georgia;
}

#panelAnnouncements article hr {
	margin-bottom: 5px;
}

#panelAnnouncements article p {
	line-height: 1.4em;
	font-size: 14pt;
	text-align: justify;
	padding: 5px 10px;
	font-weight: normal;
}

/* FOOTER */
body > footer {
	margin-top: 50px;
	min-height: 100px;
	background: #EEE;
	padding: 20px 0 0;
	text-align: center;
}